<div class="mod-slot-wrapper {{slotRarity}} " [ngClass]="{weapon:isWeapon}">

  <div class="mod-slot-type">
    <div class="rarity-indicator"></div>
    <div class="mod-slot-type-title-wrapper" *ngIf="isGear">
      <label editor="false">{{slotName}}</label>
      <select [(ngModel)]="slot.id" editor="true" (ngModelChange)="onSlotTypeChanged()">
        <option class="option-{{slotType.rarity}}" *ngFor="let slotType of slotTypes" [value]="slotType.id">
          {{slotType.name}}
        </option>
      </select>
    </div>
    <div class="mod-slot-item-title-wrapper" *ngIf="isWeapon">
      <div class="mod-slot-item-image ">
        <img [src]="weaponSlotImage"/>
      </div>
      <div class="mod-slot-item-name">
        <label>{{slotName}}</label>
        <label editor="false">{{weaponModItemName}}</label>
        <select [(ngModel)]="slot.itemId" editor="true" (ngModelChange)="onWeaponSlotItemChanged()">
          <option *ngFor="let weaponModItem of weaponModItems" [value]="weaponModItem.id">
            {{weaponModItem.name}}
          </option>
        </select>
      </div>
    </div>


  </div>
  <div class="mod-slot-attributes-wrapper">
    <item-attribute [attribute]="slot.primary"
                    can-add="false"
                    [attributes-provider]="getAttributesProvider(true)"
                    [metadata]="metadata"
                    attribute-type="main"
    ></item-attribute>

    <item-attribute [attribute]="slot.secondary"
                    can-add="false"
                    [attributes-provider]="getAttributesProvider(false)"
                    [metadata]="metadata"
                    attribute-type="main"
    ></item-attribute>
  </div>
</div>
