<div class="stats-wrapper">
  <single-stat-display type="firearms"
                       (change)="onStateValueChanged($event)"
                       [value]="stat('firearms')"></single-stat-display>
  <single-stat-display type="stamina"
                       (change)="onStateValueChanged($event)"
                       [value]="stat('stamina')"></single-stat-display>
  <single-stat-display type="electronics"
                       (change)="onStateValueChanged($event)"
                       [value]="stat('electronics')"></single-stat-display>

</div>
