<div class="stats-wrapper">
  <single-stat-display type="firearms"
                       (change)="onStateValueChanged($event)"
                       [value]="stats.firearms || 0 "></single-stat-display>
  <single-stat-display type="stamina"
                       (change)="onStateValueChanged($event)"
                       [value]="stats.stamina || 0 "></single-stat-display>
  <single-stat-display type="electronics"
                       (change)="onStateValueChanged($event)"
                       [value]="stats.electronics || 0 "></single-stat-display>

</div>
