<div class="inventory-item-row clearfix">
  <div class="left">
    <div class="item-image">
      <inventory-item-image [item]="item"></inventory-item-image>
    </div>
    <div class="item-meta" [ngSwitch]="isWeapon">
      <div class="title">{{item.name}}</div>
      <div class="dps" *ngSwitchWhen="true">
        <span>{{weaponDps|prettynumber}}</span>
        <label>DPS</label>
      </div>
      <div class="armor" *ngSwitchDefault="">
        <span>{{item.armor|prettynumber}}</span>
        <label>ARM</label>

      </div>
    </div>

  </div>


  <div class="score">
    <label>SCORE</label>
    <span>{{item.score}}</span>
  </div>
</div>
