@import 'fonts.scss';
@import "common";

* {
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

.hidden {
  display: none;
}

/* close commented backslash hack */
body {
  margin: 0;

  &:before {
    background-image: url('app/assets/images/background-processed.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    content: '';
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.outer-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.tooltip {
  .item-wrapper {
    margin: 0;
  }

  .rarity-indicator {
    display: none;
  }
}



.generator-wrapper {
  width: 450px;

  select,
  input {
    display: block;
    width: 100%;
  }

  input {
    border-radius: 2px;
    font-size: 18px;
    padding: 5px 10px;
  }
}
