@font-face {
  font-family: 'Borda';
  font-style: normal;
  font-weight: 500;
  src: url( 'app/assets/fonts/borda-w00-regular.eot' );
  src: url( 'app/assets/fonts/borda-w00-regular.eot?#iefix' ) format( 'embedded-opentype' ),
  url( 'app/assets/fonts/borda-w00-regular.woff2' ) format( 'woff2' ),
  url( 'app/assets/fonts/borda-w00-regular.woff' ) format( 'woff' ),
  url( 'app/assets/fonts/borda-w00-regular.ttf' ) format( 'truetype' ),
  url( 'app/assets/fonts/borda-w00-regular.svg#borda' ) format( 'svg' );
}


@font-face {
  font-family: 'Borda';
  font-style: normal;
  font-weight: 600;
  src: url( 'app/assets/fonts/borda-w00-medium.eot' );
  src: url( 'app/assets/fonts/borda-w00-medium.eot?#iefix' ) format('embedded-opentype' ),
  url( 'app/assets/fonts/borda-w00-medium.woff2' ) format('woff2' ),
  url( 'app/assets/fonts/borda-w00-medium.woff' ) format('woff' ),
  url( 'app/assets/fonts/borda-w00-medium.ttf' ) format('truetype' ),
  url( 'app/assets/fonts/borda-w00-medium.svg#borda' ) format( 'svg' );;
}

@font-face {
  font-family: 'Borda';
  font-style: normal;
  font-weight: 700;
  src: url( 'app/assets/fonts/borda-w00-bold.eot' );
  src: url( 'app/assets/fonts/borda-w00-bold.eot?#iefix' ) format( 'embedded-opentype' ),
  url( 'app/assets/fonts/borda-w00-bold.woff2' ) format( 'woff2' ),
  url( 'app/assets/fonts/borda-w00-bold.woff' ) format( 'woff' ),
  url( 'app/assets/fonts/borda-w00-bold.ttf' ) format( 'truetype' ),
  url( 'app/assets/fonts/borda-w00-bold.svg#borda' ) format( 'svg' );;
}
