<div class="clearfix">
  <div class="attribute-value-wrapper">
    <auto-resize-input length="4" inputType="number" [format]="attributeFormat" [(ngModel)]="attribute.value"
                       (input)="onAttributeInputChanged($event)"></auto-resize-input>
  </div>
  <div class="attribute-title-wrapper">
    <select [(ngModel)]="attribute.id" (change)="onAttributeChange()">
      <option *ngFor="#attr of attributes" [value]="attr.id">{{attr.name}}</option>
    </select>
    <button (click)="onAddAttribute()">+</button>
    <button (click)="onRemoveAttribute()">-</button>
  </div>

</div>
