<div class="attributes-wrapper">
  <div class="attributes-title-wrapper" *ngIf="attributes.major.length">
    Major Attributes
  </div>

  <item-attribute *ngFor="#attribute of attributes.major" [attribute]="attribute" [metadata]="metadata"
                  attribute-type="major"
                  [restrict]="attributes.major"
                  (removed)="onRemoveAttribute($event)"
                  (added)="onAddAttribute($event)"></item-attribute>


  <div class="attributes-title-wrapper" *ngIf="attributes.minor.length">
    Minor Attributes
  </div>
  <item-attribute *ngFor="#attribute of attributes.minor" [attribute]="attribute" [metadata]="metadata"
                  attribute-type="minor"
                  (removed)="onRemoveAttribute($event)"
                  (added)="onAddAttribute($event)"></item-attribute>

  <div class="attributes-title-wrapper" *ngIf="attributes.skill.length">
    Skill Attributes
  </div>
  <item-attribute *ngFor="#attribute of attributes.skill" [attribute]="attribute" [metadata]="metadata"
                  attribute-type="skill"
                  (removed)="onRemoveAttribute($event)"
                  (added)="onAddAttribute($event)"></item-attribute>


</div>
<div class="button-bar" editor="true">
  <button (click)="onAddAttributeType('major')" *ngIf="!attributes.major.length">+ Major</button>
  <button (click)="onAddAttributeType('minor')" *ngIf="!attributes.minor.length">+ Minor</button>
  <button (click)="onAddAttributeType('skill')" *ngIf="!attributes.skill.length">+ Skill</button>
</div>



