@import '../../assets/styles/mixins';
@import "../../assets/styles/colors";

$button-width: 70px;
:host {
  position: relative;
  display: block;
}

.section-wrapper {
  min-height: 71px;
}

.button-bar {
  position: absolute;
  top: 0;
  right: -$button-width;

  button{
    @include editor-button($button-width);
  }

}
