@import "../../assets/styles/common";

select {
  @include select-style($dotted: true);

}

select, label {
  float: left;
  width: 61%;
}

label {

  word-wrap: break-word;
}

button {
  color: $accent-font-color;
  font-weight: bold;
  width: 20px;
  height: 20px;
  float: right;
  text-align: center;
  margin-right: 5px;

  &:active, &:focus {
    border: 1px $accent-font-color;
    outline-color: $accent-font-color;
  }
}

.attributes-wrapper:first-child {
  margin-top: 0;
}

.attributes-title-wrapper {
  font-weight: 600;
  margin-top: 10px;
}

.attribute-value-wrapper {
  color: $accent-font-color;
  float: left;
  font-weight: 600;
  margin-right: 10px;
  label {
    width: auto !important;;
  }
  select {
    color: #eb7c09;
    font-weight: 600;
    @include text-style();
    width: 12px;
  }
}
