<div class="clearfix">
  <div class="attribute-value-wrapper" *ngIf="!freeFormDisplay">

    <label editor>+{{attribute.value|attribute:attributeFormat}}</label>
    <select [(ngModel)]="attribute.value" (ngModelChange)="onAttributeChange()" editor="true"
    >
      <option *ngFor="let attr of attributeValues" [value]="attr">{{attr|attribute:attributeFormat}}</option>
    </select>

  </div>

  <div class="attribute-value-wrapper" *ngIf="freeFormDisplay">
    <auto-resize-input [length]="maxInputLength" inputType="number" [format]="attributeFormat"
                       [(ngModel)]="attribute.value"
                       (input)="onAttributeInputChanged($event)"></auto-resize-input>
  </div>
  <div class="attribute-title-wrapper">
    <label editor>{{attributeName}}</label>
    <div editor="true">
      <select [(ngModel)]="attribute.id" (ngModelChange)="onAttributeChange()">
        <option *ngFor="let attr of attributes" [value]="attr.id">{{attr.name}}</option>
      </select>
      <button (click)="onRemoveAttribute()" *ngIf="canAddOrRemove">-</button>
      <button (click)="onAddAttribute()" *ngIf="canAddOrRemove">+</button>
    </div>

  </div>

</div>
