<div class="clearfix">
  <div class="attribute-value-wrapper">
    <auto-resize-input length="4" inputType="number" [format]="attributeFormat" [(ngModel)]="attribute.value"
                       (input)="onAttributeInputChanged($event)"></auto-resize-input>
  </div>
  <div class="attribute-title-wrapper">
    <label editor>{{attributeName}}</label>
    <div editor="true">
      <select [(ngModel)]="attribute.id" (ngModelChange)="onAttributeChange()">
        <option *ngFor="#attr of attributes " [value]="attr.id">{{attr.name}}</option>
      </select>
      <button (click)="onRemoveAttribute()">-</button>
      <button (click)="onAddAttribute()">+</button>
    </div>

  </div>

</div>
