@import '../../assets/styles/common';

$button-width: 70px;
:host {
  position: relative;
  display: block;
}

.section-wrapper {
  min-height: 71px;
}

.button-bar {
  position: absolute;
  top: 0;
  right: - ($button-width + $section-wrapper-side-padding);

  button {
    @include editor-button($button-width);
  }

}

.attributes-wrapper:first-child {
  margin-top: 0;
}

.attributes-title-wrapper {
  font-weight: 600;
  margin-top: 10px;
}

