@import "../../assets/styles/colors";
@import "../../assets/styles/mixins";

select {
  @include select-style($dotted:true);



}

select, label {
  float: left;
  width: 61%;
}

button {
  color: $accent-font-color;
  font-weight: bold;
  width: 20px;
  height: 20px;
  float: right;
  text-align: center;
  margin-right: 5px;

  &:active, &:focus {
    border: 1px $accent-font-color;
    outline-color: $accent-font-color;
  }
}
