<div class="inventory-gear-item-row clearfix">
  <div class="left">
    <div class="gear-item-image">
      <inventory-gear-item-image [item]="item"></inventory-gear-item-image>
    </div>
    <div class="gear-item-meta">
      <div class="title">{{item.title}}</div>
      <div class="armor">
        <span>{{item.armor|prettynumber}}</span>
        <label>ARM</label>

      </div>
    </div>

  </div>


  <div class="score">
    <label>SCORE</label>
    <span>{{item.score}}</span>
  </div>
</div>
