<div class="item-wrapper {{gear.rarity}}" xmlns="">
  <div class="section-wrapper title-section">
    <div class="rarity-indicator"></div>
    <div class="title-wrapper">
      <label editor="false">{{gear.name}}</label>
      <select [(ngModel)]="gear.name" editor="true">
        <option *ngFor="#item of items" [value]="item.name">{{item.name}}</option>
      </select>
    </div>
    <div class="rarity-wrapper">
      <label editor="false">{{gear.rarity|ucfirst}}</label>
      <select [(ngModel)]="gear.rarity" editor="true" (ngModelChange)="onRarityChanged($event)">
        <option class="option-{{rarity}}" *ngFor="#rarity of rarities" [value]="rarity">{{rarity|ucfirst}}</option>
      </select>
    </div>

    <div class="score-wrapper">
      score
      <div class="number-wrapper score-number-wrapper">

        <label editor="false">{{gear.score}}</label>
        <select [(ngModel)]="gear.score" editor="true" (ngModelChange)="onGearScoreChanged($event)">
          <option *ngFor="#score of scores" [value]="score">{{score}}</option>
        </select>

      </div>
    </div>
  </div>

  <div class="section-wrapper">

    <div class="stat-wrapper">
      ARMOR
      <div class="number-wrapper stat-number-wrapper">
        <auto-resize-input
          resize-increment="20"
          prepend=""
          [(ngModel)]="gear.armor"
          (input)="onArmorValueChanged($event)"></auto-resize-input>

      </div>
    </div>

  </div>
  <div class="section-wrapper " *ngIf="isHighEnd">

    <talents [choices]="talentChoices" [talents]="talents"></talents>


  </div>
  <div class="section-wrapper">
    <stats-display [stats]="gear.stats"></stats-display>
  </div>
  <div class="section-wrapper">
    <item-attributes [data]="gear.attributes" [gear-metadata]="metadata"
    ></item-attributes>
  </div>


  <div class="section-wrapper">
    <modslots [gear-metadata]="metadata" [slots]="gear.mods"></modslots>
  </div>


</div>
