<div class="item-wrapper {{gear.rarity}}" xmlns="">
  <div class="section-wrapper title-section">
    <div class="rarity-indicator"></div>
    <div class="title-wrapper">
      <select [(ngModel)]="gear.itemId">
        <option *ngFor="#item of items" [value]="item.id">{{item.name}}</option>
      </select>
    </div>
    <div class="rarity-wrapper">{{gear.rarity|ucfirst}}</div>

    <div class="level-wrapper">
      level
      <div class="number-wrapper level-number-wrapper">
        {{gear.level}}
      </div>
    </div>
  </div>

  <div class="section-wrapper">

    <div class="stat-wrapper">
      ARMOR
      <div class="number-wrapper stat-number-wrapper">
        {{gear.armor | prettynumber }}
      </div>
    </div>

  </div>
  <stats-display [stats]="gear.stats"></stats-display>
  <item-attributes [data]="gear.attributes" [gear-metadata]="metadata"></item-attributes>


</div>
