@import "../../assets/styles/mixins";
@import "../../assets/styles/colors";

select {
  @include select-style();
  font-weight: 600;


}

:host .number-wrapper {
  input, div.placeholder {
    font-size: 1em !important;
    color: #fff !important;
    width: 20px;
    height: 60px;
    margin-top: -9px;
  }
}

.item-wrapper {
  @include rarity-indicator();
}
