<div class="item-wrapper {{item.rarity}}">
  <div class="section-wrapper title-section">
    <div class="rarity-indicator"></div>
    <div class="title-wrapper">
      <label editor="false">{{item.name}}</label>
      <select [(ngModel)]="item.name" editor="true">
        <option *ngFor="let item of items" [value]="item.name">{{item.name}}</option>
      </select>
    </div>
    <div class="rarity-wrapper">
      <label editor="false">{{item.rarity|ucfirst}}</label>
      <select [(ngModel)]="item.rarity" editor="true" (ngModelChange)="onRarityChanged($event)">
        <option class="option-{{rarity}}" *ngFor="let rarity of rarities" [value]="rarity">{{rarity|ucfirst}}</option>
      </select>
    </div>

    <div class="score-wrapper">
      score
      <div class="number-wrapper score-number-wrapper">

        <label editor="false">{{item.score}}</label>
        <select [(ngModel)]="item.score" editor="true" (ngModelChange)="onGearScoreChanged($event)">
          <option *ngFor="let score of scores" [value]="score">{{score}}</option>
        </select>

      </div>
    </div>
  </div>

  <div class="section-wrapper " *ngIf="isWeapon">

    <weapon-stats [weapon]="item"></weapon-stats>


  </div>

  <div class="section-wrapper" *ngIf="isGear">

    <div class="stat-wrapper">
      ARMOR
      <div class="number-wrapper stat-number-wrapper">
        <auto-resize-input
          resize-increment="20"
          prepend=""
          [(ngModel)]="item.armor"
          (input)="onArmorValueChanged($event)"></auto-resize-input>

      </div>
    </div>

  </div>
  <div class="section-wrapper " *ngIf="isHighEnd || isWeapon">

    <talents [choices]="talentChoices" [talents]="talents" [has-image]="talentsHaveImage"></talents>


  </div>
  <div class="section-wrapper" *ngIf="isGear">
    <stats-display [stats]="item.stats"></stats-display>
  </div>
  <div class="section-wrapper" *ngIf="isGear">
    <item-attributes [data]="item.attributes" [gear-metadata]="metadata"></item-attributes>
  </div>


  <div class="section-wrapper" *ngIf="isGear">
    <modslots [gear-metadata]="metadata" [slots]="item.mods"></modslots>
  </div>


</div>
