@import "../../assets/styles/mixins";
@import "../../assets/styles/colors";

select {
  @include select-style();
  font-weight: 600;

  .option-high-end {
    color: $high-end-accent-font-color;
  }
  .option-specialized {
    color: $specialized-accent-font-color;
  }
  .option-superior {
    color: $superior-accent-font-color;
  }
}

:host .number-wrapper {
  input, div.placeholder {
    font-size: 1em !important;
    color: #fff !important;
    width: 20px;
    height: 60px;
    margin-top: -9px;
  }
}
