@import "../common";

$gear-image-background-alpha: 0.56;

@mixin gear-image-background($name) {
  &.#{$name} {
    background-color: rgba(map-get($rarity-to-color, #{$name}), $gear-image-background-alpha);
  }
}

.inventory-gear-image {
  width: $inventory-gear-image-width;
  height: $inventory-gear-image-height;
  display: block;
  float: left;

  position: relative;
  @include vertical-align-parent();

  @each $rarity in $rarities {
    @include gear-image-background($rarity);
  }

  .image {
    @include vertical-align();

    width: $inventory-gear-mask-width;
    height: $inventory-gear-mask-height;
    display: block;
    background: white;
    mask-type: luminance;
    margin: 0 auto;

    // invert with 203 Blend
    //-webkit-mask-image: url('app/assets/images/inventory/body-armor.png');
    -webkit-mask-size: $inventory-gear-mask-width $inventory-gear-mask-height;

  }
  &.gear-set .image {
    -webkit-mask-position-x: -($inventory-gear-mask-width/4);
  }
  .set-image {
    position: absolute;
    mask-type: luminance;
    margin: 0 auto;
    background: white;
    width: $inventory-gear-set-icon-mask-width;
    height: $inventory-gear-set-icon-mask-height;
    opacity: .3;
    top: 7%;
    right: 10px;
    -webkit-mask-size: $inventory-gear-set-icon-mask-width $inventory-gear-set-icon-mask-height;

  }
  // secondary sprite are 127x127

}

.slots {
  position: absolute;
  bottom: 0;

  div {
    width: 31px;
    height: 6px;
    display: inline-block;
    margin-right: 3px;

    &.high-end {
      background-color: $high-end-rarity-color;
    }

    &.superior {
      background-color: $superior-rarity-color;
    }
  }
}
