<div id="build-stats-banner" class="clearfix">


  <div id="banner-columns">

    <div id="banner-name">
      <label editor>{{inventory.name}}</label>


      <input editor="true" type="text" [(ngModel)]="inventory.name"
             (ngModelChange)="onBuildNameChanged($event)"/>

    </div>
    <div class="column">
      <label>Primary DPS</label>
      <span>{{dps|prettynumber}}</span>

      <div class="bottom">
        <hr>
        Firearms <img [src]="'/images/icon-stat-firearms.png'|asset"/>{{firearms}}
      </div>
    </div>
    <div class="column">
      <label>Health</label>

      <span>{{health|prettynumber}}</span>
      <div class="bottom">
        <hr>
        Stamina <img [src]="'/images/icon-stat-stamina.png'|asset"/>{{stamina}}
      </div>

    </div>

    <div class="column">
      <label>Skill Power</label>

      <span>{{skillpower|prettynumber}}</span>
      <div class="bottom">
        <hr>

        Electronics <img [src]="'/images/icon-stat-electronics.png'|asset"/>{{electronics}}

      </div>

    </div>
  </div>
  <div id="inventory-actions" *ngIf="ownsInventory">
    <button (click)="save()">SAVE</button>
    <button (click)="reset()">NEW</button>
    <button (click)="onToggleEditor()">{{currentEditorState}}</button>
  </div>
</div>
