<div id="build-stats-banner" class="clearfix">
  <div class="column">

  </div>
  <div class="column">
    <label>Primary DPS</label>
    <span>{{dps|prettynumber}}</span>

    <div class="bottom">
      <hr>
      Firearms <img src="app/assets/images/icon-stat-firearms.png"/>{{firearms}}
    </div>
  </div>
  <div class="column">
    <label>Health</label>

    <span>{{health|prettynumber}}</span>
    <div class="bottom">
      <hr>
      Stamina <img src="app/assets/images/icon-stat-stamina.png"/>{{stamina}}
    </div>

  </div>

  <div class="column">
    <label>Skill Power</label>

    <span>{{skillpower|prettynumber}}</span>
    <div class="bottom">
      <hr>

      Electronics <img src="app/assets/images/icon-stat-electronics.png"/>{{electronics}}

    </div>

  </div>
</div>
