@import "../../assets/styles/common";

$inventory-gear-item-width: 344px;
$inventory-gear-item-height: 87px;
$inventory-gear-image-width: 164px;
$inventory-gear-image-height: 87px;
$inventory-gear-stats-spacing: 2px;

$inventory-gear-mask-width: 152px;
$inventory-gear-mask-height: 75px;
$inventory-gear-set-icon-mask-width: $inventory-gear-mask-height;
$inventory-gear-set-icon-mask-height: $inventory-gear-mask-height;
$black-alpha: 0.30;
$rarity-alpha: 0.56;

$inventory-item-info-width: $inventory-gear-item-width - $inventory-gear-image-width;
$inventory-talent-width: $inventory-item-info-width / 2;
$inventory-talent-height: $inventory-item-info-width / 2;
$inventory-talent-mask-width: $inventory-talent-width;
$inventory-talent-mask-height: $inventory-talent-height;
