<div id="inventory " class="clearfix">

  <div id="inventory-weapons">

  </div>
  <div id="inventory-gear">
    <div class="column clearfix">
      <inventory-item (click)="navigate('body-armor')" [item]="inventory.bodyArmor"
                           item-type="body-armor"></inventory-item>

      <inventory-item (click)="navigate('mask')" [item]="inventory.mask"
                           item-type="mask"></inventory-item>

      <inventory-item (click)="navigate('knee-pads')" item-type="knee-pads"
                           [item]="inventory.kneePads"></inventory-item>
    </div>

    <div class="column clearfix">
      <inventory-item
        (click)="navigate('back-pack')" item-type="back-pack"
        [item]="inventory.backPack"></inventory-item>

      <inventory-item
        (click)="navigate('gloves')" item-type="gloves"
        [item]="inventory.gloves"></inventory-item>

      <inventory-item
        (click)="navigate('holster')" item-type="holster"
        [item]="inventory.holster"></inventory-item>
    </div>


  </div>


</div>
