<div id="inventory " class="clearfix">

  <div id="inventory-weapons">

  </div>
  <div id="inventory-gear">
    <div class="column clearfix">
      <inventory-gear-item (click)="navigate('body-armor')" [item]="inventory.bodyArmor"
                           gear-type="body-armor"></inventory-gear-item>

      <inventory-gear-item (click)="navigate('mask')" [item]="inventory.mask"
                           gear-type="mask"></inventory-gear-item>

      <inventory-gear-item (click)="navigate('knee-pads')" gear-type="knee-pads"
                           [item]="inventory.kneePads"></inventory-gear-item>
    </div>

    <div class="column clearfix">
      <inventory-gear-item
        (click)="navigate('back-pack')" gear-type="back-pack"
        [item]="inventory.backPack"></inventory-gear-item>

      <inventory-gear-item
        (click)="navigate('gloves')" gear-type="gloves"
        [item]="inventory.gloves"></inventory-gear-item>

      <inventory-gear-item
        (click)="navigate('holster')" gear-type="holster"
        [item]="inventory.holster"></inventory-gear-item>
    </div>


  </div>


</div>
