<div id="inventory " class="clearfix">

  <div id="inventory-weapons" class="inventory-section">

    <div class="column clearfix">
      <inventory-item (click)="navigate('primary')" [item]="inventory.weapons.primary"
                      inventory-item-type="weapon"
                      item-type="assault-rifle"
                      weapon-slot="primary"
      ></inventory-item>

      <inventory-item (click)="navigate('secondary')" [item]="inventory.weapons.secondary"
                      inventory-item-type="weapon"
                      item-type="sniper"
                      weapon-slot="secondary"
      ></inventory-item>
    </div>
  </div>
  <div id="inventory-gear" class="inventory-section">
    <div class="column clearfix">
      <inventory-item (click)="navigate('body-armor')" [item]="inventory.gear.bodyArmor"
                      inventory-item-type="gear"
                      item-type="body-armor"></inventory-item>

      <inventory-item (click)="navigate('mask')" [item]="inventory.gear.mask"
                      inventory-item-type="gear"
                      item-type="mask"></inventory-item>

      <inventory-item (click)="navigate('knee-pads')" item-type="knee-pads"
                      inventory-item-type="gear"
                      [item]="inventory.gear.kneePads"></inventory-item>
    </div>

    <div class="column clearfix">
      <inventory-item
        (click)="navigate('back-pack')" item-type="back-pack"
        inventory-item-type="gear"
        [item]="inventory.gear.backPack"></inventory-item>

      <inventory-item
        (click)="navigate('gloves')" item-type="gloves"
        inventory-item-type="gear"
        [item]="inventory.gear.gloves"></inventory-item>

      <inventory-item
        (click)="navigate('holster')" item-type="holster"
        inventory-item-type="gear"
        [item]="inventory.gear.holster"></inventory-item>
    </div>


  </div>


</div>
