<div class="talent-wrapper">

  <div class="talent-title-wrapper">
    Talent
  </div>
  <div class="talent-title-separator">|</div>
  <div class="talent-title-name">
    <label editor>{{talent.id|ucfirst}}</label>
    <div editor="true">
      <select [(ngModel)]="talent.id" (ngModelChange)="onTalentChanged($event)">
        <option *ngFor="let choice of choices" [value]="choice.id">{{choice.id|ucfirst}}</option>
      </select>
    </div>
  </div>
  <div class="talent-description-text">
    <div #description></div>

  </div>
  <div class="talent-image" *ngIf="hasImage">
    <img [src]="talentImage"/>
  </div>
</div>
