@import "../../assets/styles/common";

select {
  @include select-style($dotted: true);
}

.talent-wrapper {
  background-color: $alternate-background-color;
  margin-bottom: 10px;
  overflow: auto;
  padding: $section-wrapper-padding;

  .talent-image, .talent-description-text, select {
    opacity: 0.5;
  }
  &.unlocked {
    .talent-image, .talent-description-text, select {
      opacity: 1;
    }
  }
}

.talent-unlocked {
  font-size: 12px;
  position: absolute;
  right: 19px;
  input {
    float: left;
    display: inline-block;
  }
}

.talent-title-wrapper {
  float: left;
  font-weight: 600;
}

.talent-title-separator {
  color: $disabled-font-color;
  float: left;
  padding: 0 8px;
}

.talent-title-name-wrapper {
  float: left;
}

.talent-title-name {
  div, label {
    display: inline-block;
    width: 75px;

  }
}

.talent-description-text {
  div {
    display: inline-block;
  }
  padding-bottom: 10px;
}

.talent-meta {
  text-align: center;

  img {
    width: 64px;
    margin: 0 auto;
    display: inline-block;
  }

}

.talent-requirements {
  @include text-style(20px);
  vertical-align: top;
  display: inline-block;
  &.high-end {
    color: $high-end-accent-font-color;
  }
  &.superior {
    color: $superior-accent-font-color;
  }
  @each $stat in $main-stat-names {
    li.#{$stat} {
      background: url('app/assets/images/icon-stat-#{$stat}.png') left center no-repeat;
      background-size: 26px 26px;

    }

  }
  ul {

    list-style: none;
    padding: 0;
    margin: 0;
    li {
      color: white;
      opacity: .20;
      font-weight: 700;
      &.active {

        opacity: 1;

      }
    }
  }
}
